{% extends "user/base_user.html" %}

{% block container %}
<div class="row reset_password">
    <div class="col-md-4 col-md-offset-4">
        <h1 class="text-center">Reset Password</h1><br>
        <form method="POST" action="{{ url_for('.password_reset', token=token) }}" accept-charset="UTF-8">
            {{ form.csrf_token }}
            {{ render_field(form.email, placeholder="Email", autofocus="") }}

            {{ render_field(form.password, placeholder="New Password",
                            glyphicon="glyphicon-eye-close", glyphpos="inner-addon right-addon") }}

            {{ render_field(form.password2, placeholder="Confirm Password",
                            glyphicon="glyphicon-eye-close", glyphpos="inner-addon right-addon") }}
            <button type="submit" class="btn btn-primary btn-block" name="submit">Reset Password</button>
        </form>
    </div> <!-- class col -->
</div> <!-- class row -->
{% endblock %}
