<div>
    <h1>Change Email Address</h1>

    <p>Dear {{ user.firstname|capitalize }},</p>

    <p>To confirm your new email address <a href="{{ confirm_url }}">click here</a>.
        Alternatively, you can paste the following link in your browser's address bar:</p>

    <p>{{ confirm_url }}</p>

    <p><b>Remember that this code is valid for {{ expiration }} hour(s).</b></p>

    <p>Sincerely,<br>The uDina Team</p>
    <p><small><b>Note:</b> replies to this email address are not monitored.</small></p>
</div>
