<div>
    <h1>Reset Password</h1>

    <p>Dear {{ user.firstname|capitalize }},</p>

    <p>To reset your password <a href="{{ confirm_url }}">click here</a>.
        Alternatively, you can paste the following link in your browser's address bar:</p>

    <p>{{ confirm_url }}</p>

    <p><b>Remember that this code is valid for {{ expiration }} hour(s). <br>
    If you have not requested a password reset simply ignore this message.</b></p>

    <p>Sincerely,<br>The uDina Team</p>
    <p><small><b>Note:</b> replies to this email address are not monitored.</small></p>
</div>
